
body{
  background-image:linear-gradient(75deg,#6A67CE,#947EC3,#B689C0);

}
  h1,h2,p{
  text-align:center;
  color:#7A8A4B;
}
h1{
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size:2.5em;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 1.8em;
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight:400;

}
hr{
  border: 4px solid #947EC3;
}
.center{
  text-align:center;
  width:100%;
  color:#7A8A4B;
}
.menu{
  background-color:#5B4B8A;
  width:80%;
  margin:35px auto 35px auto;
  padding-left:20px;
  padding-right:20px;
}
.flavour{
  text-align:left;
  display:inline-block;
  width:70%;

}
.price{
  text-align:right;
display:inline-block;
width:30%;
}
.header{
  padding-top:15px;
}
.header p{
  font-weight:bolder;
}
.footer {
  padding-bottom:15px;
}
.footer p{
  font-weight:bolder;
}
